In [2]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import matplotlib.pyplot as plt
%matplotlib inline
import math

In [5]:
df =pd.read_csv('train_2v.csv')
df.head(5)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,30669,Male,3.0,0,0,No,children,Rural,95.12,18.0,NaN,0
1,30468,Male,58.0,1,0,Yes,Private,Urban,87.96,39.2,never smoked,0
2,16523,Female,8.0,0,0,No,Private,Urban,110.89,17.6,NaN,0
3,56543,Female,70.0,0,0,Yes,Private,Rural,69.04,35.9,formerly smoked,0
4,46136,Male,14.0,0,0,No,Never_worked,Rural,161.28,19.1,NaN,0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43400 entries, 0 to 43399
Data columns (total 12 columns):
id                   43400 non-null int64
gender               43400 non-null object
age                  43400 non-null float64
hypertension         43400 non-null int64
heart_disease        43400 non-null int64
ever_married         43400 non-null object
work_type            43400 non-null object
Residence_type       43400 non-null object
avg_glucose_level    43400 non-null float64
bmi                  41938 non-null float64
smoking_status       30108 non-null object
stroke               43400 non-null int64
dtypes: float64(3), int64(4), object(5)
memory usage: 4.0+ MB

In [4]:
df.shape

(43400, 12)

In [5]:
df.isnull().values.any()

True

In [6]:
df.isnull().sum()

id                       0
gender                   0
age                      0
hypertension             0
heart_disease            0
ever_married             0
work_type                0
Residence_type           0
avg_glucose_level        0
bmi                   1462
smoking_status       13292
stroke                   0
dtype: int64

In [8]:
df['bmi'].fillna(df.bmi.mean()).head()

0    18.0
1    39.2
2    17.6
3    35.9
4    19.1
Name: bmi, dtype: float64

In [9]:
df.stroke.value_counts()

0    42617
1      783
Name: stroke, dtype: int64

In [10]:
df.gender.value_counts()

Female    25665
Male      17724
Other        11
Name: gender, dtype: int64

In [7]:
df.gender.drop('Other')

KeyError: "['Other'] not found in axis"

In [11]:
df.hypertension.value_counts()

0    39339
1     4061
Name: hypertension, dtype: int64

In [12]:
df.heart_disease.value_counts()

0    41338
1     2062
Name: heart_disease, dtype: int64

In [16]:
df.smoking_status.value_counts()

never smoked       16053
formerly smoked     7493
smokes              6562
Name: smoking_status, dtype: int64

In [6]:
df.groupby(['avg_glucose_level']).mean().head()

,id,age,hypertension,heart_disease,bmi,stroke
avg_glucose_level,,,,,,
55.00,44547.000000,4.000000,0.000000,0.0,18.900000,0.0
55.01,54743.800000,39.800000,0.000000,0.2,31.160000,0.2
55.02,47048.000000,41.000000,0.000000,0.0,28.700000,0.0
55.03,43528.166667,50.666667,0.166667,0.0,28.133333,0.0
55.04,52653.600000,38.600000,0.000000,0.2,34.180000,0.0

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43400 entries, 0 to 43399
Data columns (total 12 columns):
id                   43400 non-null int64
gender               43400 non-null object
age                  43400 non-null float64
hypertension         43400 non-null int64
heart_disease        43400 non-null int64
ever_married         43400 non-null object
work_type            43400 non-null object
Residence_type       43400 non-null object
avg_glucose_level    43400 non-null float64
bmi                  41938 non-null float64
smoking_status       30108 non-null object
stroke               43400 non-null int64
dtypes: float64(3), int64(4), object(5)
memory usage: 4.0+ MB